<?xml version="1.0" encoding="utf-8"?>
<bundles>
  <styleBundle virtualPath="~/bundles/style">
    <include virtualPath="~/css/flexslider.css" />
    <include virtualPath="~/css/style.css" />
  </styleBundle>
  <scriptBundle virtualPath="~/bundles/script">
    <include virtualPath="~/scripts/jquery-1.7.2.min.js" />
    <include virtualPath="~/scripts/functions.js" />
    <include virtualPath="~/scripts/jquery.flexslider-min.js" />
  </scriptBundle>
</bundles>