<?xml version="1.0" encoding="utf-8"?>
<optimus>
  <settings>
    <setting key="onlyAllowCssFilesInEditor" value="True"/>
    <setting key="onlyAllowJsFilesInEditor" value="True"/>
    <setting key="compileDynamicStyleSheetsToCss" value="True" />
    <setting key="compileDynamicJavaScriptToJs" value="True" />
  </settings>
  <bundles>
    <styleBundle virtualPath="~/bundles/style" disableMinification="False">
      <include virtualPath="~/css/flexslider.css" />
      <include virtualPath="~/css/style.css" />
    </styleBundle>
    <scriptBundle virtualPath="~/bundles/script" disableMinification="False">
      <include virtualPath="~/scripts/jquery-1.7.2.min.js" />
      <include virtualPath="~/scripts/functions.js" />
      <include virtualPath="~/scripts/jquery.flexslider-min.js" />
    </scriptBundle>
    <styleBundle virtualPath="~/bundles/testless" disableMinification="False">
      <include virtualPath="~/css/newless.less" />
      <include virtualPath="~/css/testless4.less" />
    </styleBundle>
  </bundles>
</optimus>