<?xml version="1.0" encoding="utf-8"?>
<optimus>
  <settings>
    <setting key="onlyAllowCssFilesInEditor" value="True" />
    <setting key="onlyAllowJsFilesInEditor" value="True" />
    <setting key="compileDynamicStyleSheetsToCss" value="True" />
    <setting key="compileDynamicJavaScriptToJs" value="True" />
    <setting key="ignoreCompilationDebug" value="True" />
  </settings>
  <bundles>
    <scriptBundle virtualPath="~/bundles/scr" disableMinification="False">
      <include virtualPath="~/scripts/fanoe.js" />
      <include virtualPath="~/scripts/bootstrap.min.js" />
      <include virtualPath="~/scripts/jquery.min.js" />
    </scriptBundle>
    <styleBundle virtualPath="~/bundles/lnk" disableMinification="False">
      <include virtualPath="~/css/bootstrap.min.css" />
      <include virtualPath="~/css/fanoe.css" />
      <include virtualPath="~/css/style.css" />
    </styleBundle>
  </bundles>
</optimus>