<?xml version="1.0" encoding="utf-8"?>
<optimus>
  <settings>
    <setting key="onlyAllowCssFilesInEditor" value="True" />
    <setting key="onlyAllowJsFilesInEditor" value="True" />
    <setting key="compileDynamicStyleSheetsToCss" value="True" />
    <setting key="compileDynamicJavaScriptToJs" value="True" />
    <setting key="ignoreCompilationDebug" value="True" />
  </settings>
  <bundles>
    
    <scriptBundle virtualPath="~/bundles/scr" disableMinification="False">
      <include virtualPath="~/scripts/jquery.min.js" />
      <include virtualPath="~/scripts/jquery.dropotron.min.js" />
      <include virtualPath="~/scripts/config.js" />
      <include virtualPath="~/scripts/skel.min.js" />
      <include virtualPath="~/scripts/skel-panels.min.js" />
    </scriptBundle>
  </bundles>
</optimus>