<?xml version="1.0" encoding="utf-8"?>
<bundles>
  <!--<scriptBundle virtualPath="~/bundles/scripts">
    <include virtualPath="~/scripts/angular.js" />
    <include virtualPath="~/scripts/jquery-{version}.js" />
    <include virtualPath="~/scripts/bootstrap.js" />
  </scriptBundle>
  <styleBundle virtualPath="~/bundles/styles">
    <include virtualPath="~/Content/bootstrap.css" />
    <include virtualPath="~/css/style.css" />
  </styleBundle>-->
  <scriptBundle virtualPath="~/bundles/scripts">
    <include virtualPath="~/scripts/jquery-1.7.2.min.js" />
    <include virtualPath="~/scripts/jquery.flexslider-min.js" />
    <include virtualPath="~/scripts/functions.js" />
  </scriptBundle>
</bundles>