@model Optimus.Models.BundleViewModel
@{
    string bundleType = "script";
    string bundleFunction = "Script";

    if (Model.Files.Any() && Model.Files.First().Contains(".css"))
    {
        bundleType = "style";
        bundleFunction = "Styles";
    }    

}
<html>
<head>
    <link href="~/umbraco_client/propertypane/style.css?cdv=2" type="text/css" rel="stylesheet"/>
    <link href="~/umbraco_client/ui/default.css?cdv=2" type="text/css" rel="stylesheet"/>
    <link href="Content/jqueryFileTree.css" rel="stylesheet">

    <script src="~/umbraco_client/Application/NamespaceManager.js?cdv=2" type="text/javascript"></script>
    <script src="~/umbraco_client/ui/jquery.js?cdv=2" type="text/javascript"></script>
    <script src="~/umbraco_client/Application/jQuery/jquery.cookie.js?cdv=2" type="text/javascript"></script>
    <script src="~/umbraco_client/ui/jqueryui.js?cdv=2" type="text/javascript"></script>
    <script src="~/umbraco_client/ui/base2.js?cdv=2" type="text/javascript"></script>
    <script src="~/umbraco_client/Application/UmbracoUtils.js?cdv=2" type="text/javascript"></script>
    <script src="~/umbraco_client/Application/UmbracoApplicationActions.js?cdv=2" type="text/javascript"></script>

    <script src="~/umbraco_client/Application/UmbracoClientManager.js?cdv=2" type="text/javascript"></script>

    <script src="~/umbraco_client/ui/default.js?cdv=2" type="text/javascript"></script>
    <script src="~/umbraco_client/modal/modal.js?cdv=2" type="text/javascript"></script>
    <script src="~/umbraco_client/Application/jQuery/jquery.hotkeys.js?cdv=2" type="text/javascript"></script>

    <script>

        var data = [];

        function FillData() {

            data.VirtualPath = $('#VirtualPath').val();
            data.Files = [];
            $('#selected_files .file').each(function () {
                data.Files.push($(this).attr('rel'));
            });
        }

        $(document).ready(function () {

            //Save
            $('#save').click(function (event) {
                FillData();

                var model = {
                    VirtualPath: $('#VirtualPath').val(),
                    Files: data.Files
                };

                $.ajax({
                    type: "POST",
                    url: 'api/PostBundleUpdate?bundleType=@bundleType',
                    dataType: 'json',
                    contenttype: 'application/json; charset=utf-8',
                    data: model,
                    success: function () {
                        //Saved file
                        console.log("Saved");

                        UmbClientMgr.contentFrame().focus();
                        UmbClientMgr.contentFrame().UmbEditor.Insert('@@@{@bundleFunction}.Render("' + $('#VirtualPath').val() + '")', '');
                        UmbClientMgr.closeModalWindow();
                    }
                });
                event.preventDefault();
            });

        });
    </script>
</head>
<body class="umbracoDialog">

    @if(Model.Files.Any())
    {
    <div class="propertypane" style=''>
        <div>

            <div class="propertyItem">
                <div class="propertyItemheader">Virtual path:</div>
                <div class="propertyItemContent">
                    @Html.EditorFor(m => m.VirtualPath)
                </div>
            </div>

            <div class="propertyItem">
                <div class="propertyItemheader">Files in bundle:</div>
                <div class="propertyItemContent">
                    @if (Model.Files.Any())
                    {
                        <ul id="selected_files" class="jqueryFileTree">
                            @foreach (var file in Model.Files)
                            {
                                var ext = Path.GetExtension(file);
                                ext = ext.Substring(1, ext.Length - 1);
            
                                <li class="file ext_@ext" rel="@file">@file <span class="delete"></span></li>
                            }
                        </ul>
                    }
                </div>
            </div>
            <div class="propertyPaneFooter">-</div>
        </div>
    </div>

    <p>
        <input type="submit" value="ok" id="save">
        <em>or </em>
        <a onclick="UmbClientMgr.closeModalWindow();" href="#">Cancel</a>
    </p>
    }
    else
    {
        <p>Please select at least 1 script or stylesheet on your template before creating a bundle. <br />
            <a onclick="UmbClientMgr.closeModalWindow();" href="#">Ok</a>
        </p>
    }
</body>
</html>
