div.look-whos-editing-too:before{
	content:"\e01c";
	font-family: 'icomoon';
	color: #04bfbf;
	position: absolute;
	font-size: 8px;
	padding-left: 13px;
	padding-top: 8px;
}

div#look-whos-editing-too {

    float: left;
    padding-top: 20px;
    padding-left: 50px;
}

div#look-whos-editing-too img {
    border-radius: 16px;
    margin-left: 5px;
}