@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>WebLab - Free CSS template by ChocoTemplates.com</title>
	<link rel="shortcut icon" type="image/x-icon" href="/css/images/favicon.ico" />
	
	@Styles.Render("~/bundles/style")

	
	<!--
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="all" />
	-->
	
	@Scripts.Render("~/bundles/script")


	<!--
	<script src="/scripts/jquery-1.7.2.min.js" type="text/javascript"></script>
	<script src="/scripts/jquery.flexslider-min.js" type="text/javascript"></script>
	<script src="/scripts/functions.js" type="text/javascript"></script>
	-->

</head>
<body>
	<div id="wrapper">
		<!-- header -->
		<header class="header">
			<!-- shell -->
			<div class="shell">
				<h1 id="logo"><a href="#">WebLab</a></h1>
				<!-- navigation -->
				<nav id="navigation">
					<ul>
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Portfolio</a></li>
						<li><a href="#">contacts </a></li>
					</ul>
				</nav>
				<!-- navigation -->
			</div>
			<!-- end of shell -->
		</header>
		<!-- end of header -->
		<!-- shell -->
		<div class="shell">
			<!-- main -->
			<div class="main">
				<!-- slider-holder -->
				<section class="slider-section">
					<h2 class="alignleft">WE CREATE <strong>BEAUTIFUL</strong> WEBSITE TEMPLATES </h2>
					<a href="#" class="buy-btn">Wanna Buy One ?</a>
					<div class="cl">&nbsp;</div>
					<!-- slider -->
					<div class="slider-holder">
						<span class="slider-shadow"></span>
						<div class="flexslider">
							<ul class="slides">
								<li>
									<img src="css/images/slide-img.jpg" alt="" />
									<div class="slide-cnt">
										<h3>Integer Aliquam Amet Sit Dolor</h3>
										<p>Quam vel tempor porta, dolor tortor cursus elit, sit amet ultrices ipsum metus quis.</p>
										<a href="#" class="slider-btn"><span></span>Explore More</a>
									</div>
								</li>
								<li>
									<img src="css/images/slide-img.jpg" alt="" />
									<div class="slide-cnt">
										<h3>Integer Aliquam Amet Sit Dolor</h3>
										<p>Quam vel tempor porta, dolor tortor cursus elit, sit amet ultrices ipsum metus quis.</p>
										<a href="#" class="slider-btn"><span></span>Explore More</a>
									</div>
								</li>
								<li>
									<img src="css/images/slide-img.jpg" alt="" />
									<div class="slide-cnt">
										<h3>Integer Aliquam Amet Sit Dolor</h3>
										<p>Quam vel tempor porta, dolor tortor cursus elit, sit amet ultrices ipsum metus quis.</p>
										<a href="#" class="slider-btn"><span></span>Explore More</a>
									</div>
								</li>
							</ul>
						</div>
					</div>	
				<!-- end of slider -->
				</section>
				<!-- slider-holder -->
				<!-- cols -->
				<section class="cols">
					<div class="col">
						<h3 class="starter-ico"><a href="#">Starter Themes</a></h3>
						<p>Integer aliquam, quam vel tempor porta, dolor tortor cursus elit, sit amet ultrices ipsum metus quis aliquam, quam vel tempor porta</p>
						<a href="#" class="more">Read More</a>
					</div>
					<div class="col">
						<h3 class="awesome-ico"><a href="#">Awesome Colours</a></h3>
						<p>Integer aliquam, quam vel tempor porta, dolor tortor cursus elit, sit amet ultrices ipsum metus quis \aliquam, quam vel tempor porta</p>
						<a href="#" class="more">Read More</a>
					</div>
					<div class="col">
						<h3 class="save-ico"><a href="#">Save Time</a></h3>
						<p>Integer aliquam, quam vel tempor porta, dolor tortor cursus elit, sit amet ultrices ipsum metus quis aliquam, quam vel tempor porta</p>
						<a href="#" class="more">Read More</a>
					</div>

					<div class="cl">&nbsp;</div>
				</section>
				<!-- end of cols -->

				<!-- featured -->
				<section>
					<h3 class="alignleft">Featured Projects</h3>
					<a href="#" class="all-projects"><strong>+</strong>All projects</a>
					<div class="cl">&nbsp;</div>

					<div class="featured">
						<div class="entry">
							<a href="#"><em></em>
								<img src="css/images/entry-img1.png" alt="" />
								<span>Integer Aliquam,Quam </span>
							</a>
							<strong></strong>
						</div>
						<div class="entry">
							<a href="#"><em></em>
								<img src="css/images/entry-img2.png" alt="" />
								<span>Integer Aliquam,Quam </span>
							</a>
							<strong></strong>
						</div>
						<div class="entry">
							<a href="#"><em></em>
								<img src="css/images/entry-img3.png" alt="" />
								<span>Integer Aliquam,Quam </span>
							</a>
							<strong></strong>
						</div>
						<div class="entry">
							<a href="#"><em></em>
								<img src="css/images/entry-img4.png" alt="" />
								<span>Integer Aliquam,Quam </span>
							</a>
							<strong></strong>
						</div>
						<div class="entry">
							<a href="#"><em></em>
								<img src="css/images/entry-img5.png" alt="" />
								<span>Integer Aliquam,Quam </span>
							</a>
							<strong></strong>
						</div>
						<div class="cl">&nbsp;</div>
					</div>
				</section>
				<!-- end of featured -->
			</div>
			<!-- end of main -->
		</div>
		<!-- end of shell -->
		<div id="footer-push"></div>
	</div>	
	<!-- footer -->
	<div id="footer">
		<!-- shell -->
		<div class="shell">
			<div class="widgets">
				
				<div class="widget">
					<h4>CATEGORIES</h4>
					<ul>
						<li><a href="#">Art of Photography</a></li>
						<li><a href="#">Design Template</a></li>
						<li><a href="#">Website &amp; Development</a></li>
						<li><a href="#">How to Create a Great Layout</a></li>
						<li><a href="#">Beautiful Backgrounds</a></li>
						<li><a href="#">Customisation</a></li>
					</ul>
				</div>

				<div class="widget gallery-widget">
					<h4>GALLERY</h4>
					<ul>
						<li><a href="#"><img src="css/images/gallery-img.png" alt="" /></a></li>
						<li><a href="#"><img src="css/images/gallery-img2.png" alt="" /></a></li>
						<li><a href="#"><img src="css/images/gallery-img3.png" alt="" /></a></li>
						<li><a href="#"><img src="css/images/gallery-img4.png" alt="" /></a></li>
						<li><a href="#"><img src="css/images/gallery-img5.png" alt="" /></a></li>
						<li><a href="#"><img src="css/images/gallery-img6.png" alt="" /></a></li>
					</ul>
				</div>

				<div class="widget">
					<h4>Web Lab</h4>
					<ul>
						<li><a href="#">More About Us</a></li>
						<li><a href="#">Our Portfolio Company</a></li>
						<li><a href="#">Company Blog</a></li>
						<li><a href="#">Our Mission</a></li>
						<li><a href="#">Get in Touch with UsMore</a></li>
					</ul>
				</div>

				<div class="widget contact-widget">
					<h4>Contacts</h4>
					<p class="address-ico">
						Company Name Head Office<br />
						1234 City Name, <br />
						Country 7451
					</p>

					<p class="phone-ico">
						Phone: +11 2345 6778
						Fax: +11 2345 6789 
					</p>
					<a href="#" class="chat-btn"><span class="chat-ico"></span>Client Sheet</a>
				</div>
				<div class="cl">&nbsp;</div>
			</div>
			<!-- end of widgets -->

			<!-- footer-bottom -->
			<div class="footer-bottom">
				<!-- footer-nav -->
				<div class="footer-nav">
					<ul>
						<li class="active"><a href="#">HOME</a></li>
						<li><a href="#">ABOUT</a></li>
						<li><a href="#">SERVICES</a></li>
						<li><a href="#">PORTFOLIO</a></li>
						<li><a href="#">CONTACTS</a> </li>
					</ul>
				</div>
				<!-- end of footer-nav -->
				<p class="copy">&copy; company name. Design by <a href="http://chocotemplates.com" target="_blank">Chocotemplates.com</a></p>
			</div>
			<!-- end of footer-bottom -->
		</div>
		<!-- end of shell -->
	</div>
	<!-- end of footer -->
</body>
</html>
	