<?xml version="1.0" encoding="utf-8"?>
<optimus>
  <settings>
    <setting key="onlyAllowCssFilesInEditor" value="True"/>
    <setting key="onlyAllowJsFilesInEditor" value="True"/>
    <setting key="compileDynamicStyleSheetsToCss" value="True" />
    <setting key="compileDynamicJavaScriptToJs" value="True" />
    <setting key="ignoreCompilationDebug" value="True" />
  </settings>
  <bundles>
  </bundles>
</optimus>