<?xml version="1.0" encoding="utf-8"?>
<optimus>
  <settings>
    <setting key="onlyAllowCssFilesInEditor" value="True"/>
    <setting key="onlyAllowJsFilesInEditor" value="True"/>
  </settings>
  <bundles>
    <!--<scriptBundle virtualPath="~/bundles/scripts">
      <include virtualPath="~/scripts/angular.js" />
      <include virtualPath="~/scripts/jquery-{version}.js" />
      <include virtualPath="~/scripts/bootstrap.js" />
    </scriptBundle>
    <styleBundle virtualPath="~/bundles/styles">
      <include virtualPath="~/Content/bootstrap.css" />
      <include virtualPath="~/css/style.css" />
    </styleBundle>-->
  </bundles>
</optimus>