<?xml version="1.0" encoding="utf-8"?>
<trees>
  <add initialize="true" sortOrder="6" alias="documentTypes" application="settings" iconClosed="icon-folder" iconOpen="icon-folder-open" type="Umbraco.Web.Trees.ContentTypeTreeController, umbraco" />
  <add initialize="true" sortOrder="0" alias="packager" application="developer" iconClosed="icon-folder" iconOpen="icon-folder-open" type="Umbraco.Web.Trees.PackagesTreeController, umbraco" />
  <add initialize="true" sortOrder="5" alias="mediaTypes" application="settings" iconClosed="icon-folder" iconOpen="icon-folder-open" type="Umbraco.Web.Trees.MediaTypeTreeController, umbraco" />
  <add initialize="true" sortOrder="2" alias="memberTypes" application="member" iconClosed="icon-folder" iconOpen="icon-folder-open" type="Umbraco.Web.Trees.MemberTypeTreeController, umbraco" />
  <add initialize="true" sortOrder="1" alias="dataTypes" application="developer" iconClosed="icon-folder" iconOpen="icon-folder-open" type="Umbraco.Web.Trees.DataTypeTreeController, umbraco" />
  <add initialize="true" sortOrder="4" alias="languages" application="settings" iconClosed="icon-folder" iconOpen="icon-folder-open" type="Umbraco.Web.Trees.LanguageTreeController, umbraco" />
  <add initialize="true" sortOrder="0" alias="member" application="member" iconClosed="icon-folder" iconOpen="icon-folder-open" type="Umbraco.Web.Trees.MemberTreeController, umbraco" />
  <add initialize="true" sortOrder="1" alias="templates" application="settings" title="Templates" iconClosed="icon-folder" iconOpen="icon-folder-open" type="Umbraco.Web.Trees.TemplatesTreeController, umbraco" />
  <add initialize="true" sortOrder="0" alias="media" application="media" iconClosed="icon-folder" iconOpen="icon-folder-open" type="Umbraco.Web.Trees.MediaTreeController, umbraco" />
  <add initialize="true" sortOrder="0" alias="content" application="content" iconClosed="icon-folder" iconOpen="icon-folder-open" type="Umbraco.Web.Trees.ContentTreeController, umbraco" />
  <add initialize="true" sortOrder="4" alias="relationTypes" application="developer" title="Relation Types" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="umbraco.loadRelationTypes, umbraco" />
  <add initialize="true" sortOrder="3" alias="dictionary" application="settings" title="Dictionary" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="umbraco.loadDictionary, umbraco" />
  <add initialize="true" sortOrder="2" alias="macros" application="developer" title="Macros" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="umbraco.loadMacros, umbraco" />
  <add initialize="true" sortOrder="1" alias="memberGroups" application="member" title="Member Groups" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="umbraco.loadMemberGroups, umbraco" />
  <add initialize="true" sortOrder="2" alias="scripts" application="settings" title="Scripts" iconClosed="icon-folder" iconOpen="icon-folder" type="umbraco.loadScripts, umbraco" />
  <add initialize="false" sortOrder="0" alias="stylesheetProperty" application="settings" title="Stylesheet Property" iconClosed="" iconOpen="" type="umbraco.loadStylesheetProperty, umbraco" />
  <add initialize="true" sortOrder="0" alias="stylesheets" application="settings" title="Stylesheets" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="umbraco.loadStylesheets, umbraco" />
  <add initialize="true" sortOrder="0" alias="users" application="users" title="Users" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="umbraco.loadUsers, umbraco" />
  <add initialize="true" sortOrder="5" alias="xslt" application="developer" title="XSLT Files" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="umbraco.loadXslt, umbraco" />
  <add initialize="true" sortOrder="2" alias="userPermissions" application="users" title="User Permissions" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="umbraco.cms.presentation.Trees.UserPermissions, umbraco" />
  <add initialize="true" sortOrder="1" alias="userTypes" application="users" title="User Types" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="umbraco.cms.presentation.Trees.UserTypes, umbraco" />
  <add initialize="true" sortOrder="0" alias="bundlingAndMinificationTree" application="settings" title="Bundling" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="Optimus.Umbraco.Trees.BundlingAndMinificationTree, Optimus" />
  <add initialize="true" sortOrder="0" alias="scriptsNew" application="settings" title="Dynamic Scripts" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="Optimus.Trees.Scripts.DynamicScriptTree, Optimus.Trees.Scripts" />
  <add initialize="true" sortOrder="0" alias="stylesheetsNew" application="settings" title="Dynamic Stylesheets" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="Optimus.Trees.Stylesheets.DynamicCSSTree, Optimus.Trees.Stylesheets" />
</trees>